/* Dash to Dock */

#dashtodockContainer {
	&.left, &.right { #dash { padding: 1px 0; } }

	&.top, &.bottom { #dash { padding: 0 1px; } }

	&.extended #dash { border-color: transparent; }

	.dash-item-container > StWidget { padding: 4px 5px; }

	.app-well-app-running-dot {
		margin-bottom: -1px;
		width: 4px;
  	height: 4px;
  	border-radius: 100%;
	}
}

/* Dash to Panel */
@each $_dtp_pos, $_line in (Top, 0 2px),
													 (Bottom, 0 -2px) {
	#panel.dashtopanelMainPanel.dashtopanel#{$_dtp_pos} {
		.app-well-app, .show-apps {
			&:focus,
			&:hover,
			&:active,
			&:checked {
				.overview-icon {
					border-radius: 0;
					background: none;
					box-shadow: none;
					color: $panel_fg_color; //override because it will darker in light variant
				}
			}
		}

		.panel-button {
			&.clock-display {
      	.clock {
        	box-shadow: inset 0 0 0 100px rgba(255, 255, 255, 0.10);
      	}

      	&:hover, &:active, &:overview, &:focus, &:checked {
      		.clock { box-shadow: inset 0 0 0 100px rgba(255, 255, 255, 0.20); }
      	}
    	}
  	}
		
		StButton.show-apps {
    	border-radius: 0;
			&:hover, &:active, &:overview, &:focus, &:checked {
     		background-color: rgba(255, 255, 255, 0.20);
    	}

    	.overview-icon { background-color: transparent; }
		}
	}
}
