/**** Budgie-desktop ****/

$budgie_borders: if($variant == 'light', transparentize(black, 0.77), $borders_color);
$_budgie_panel_bg: black;
$_budgie_panel_fg: #eeeeec;

.budgie-container {
	&, &:backdrop {
		padding: 0;
		background-color: transparent;
	}
}

.budgie-panel {
	&, &:backdrop {
		color: $_budgie_panel_fg;
		background-color: $_budgie_panel_bg;

		font-weight: bold;
		
		button, button:backdrop {
			@include button(undecorated);
			color: $_budgie_panel_fg;
			border: 0;
			border-radius: 0;
			box-shadow: none;
			
			transition: none;
			
			label { padding: 0; }
			
			&:hover, &:active, &:checked {
				color: $selected_fg_color;
				box-shadow: inset 0 -2px $selected_bg_color;
			}
		}
		
		&.horizontal button { padding: 0px ($_img_btn_pad + 2); }
		&.vertical button { 
			padding: ($_img_btn_pad + 2) 0; 
			
			&:hover, &:active, &:checked {
				box-shadow: none;
			}
		}
		
		&.transparent {
			background-color: rgba($_budgie_panel_bg, 0.45);
		}
		
		> box > widget > separator {
			background-color: transparentize($_budgie_panel_fg, 0.77);
		}
		
		widget {
			> box > widget > widget > image, // bluetooth indicator?
			> box > widget.sound-applet > widget > image, // sound indicator
			> box > box.battery-icon > image, // battery indicator
			> image {
				padding: 0 ($_img_btn_pad + 2);
			}
			
			// battery percentage
			> box > box.battery-icon.horizontal > label.percent-label {
				&:dir(ltr) { margin: 0 -4px 0 4px; }
				&:dir(rtl) { margin: 0 4px 0 -4px; }
				
				font-size: 90%;
			}
			
			> box > box.battery-icon.vertical > label.percent-label { 
				&:dir(ltr) { margin-right: -6px; }
				&:dir(rtl) { margin-left: -6px; }
			
				font-size: 90%; 
			}
		}
	}
}

@each $_panel_pos, $_border_pos in (top, bottom),
																	 (bottom, top),
																	 (left, right),
																	 (right, left) {
	.#{$_panel_pos} .budgie-panel {
		&, &:backdrop {
			&.dock-mode { background-clip: padding-box; }
			border-#{$_border_pos}: 1px solid transparent;
		}
	}
}

// dock mode theming

$_dock_bg: transparentize(transparentize(darken(desaturate(#3d3846, 100%), 12%),0.04), 0.2);
$_dock_borders: transparentize(white, 0.84);

@each $_horz_dock_pos, $_horz_corners in (top, bottom)
																				 (bottom, top) {
	.#{$_horz_dock_pos} .budgie-panel {
		&, &:backdrop {
			&.dock-mode {
				background-color: $_dock_bg;
				color: $osd_fg_color;
				border: 1px solid $_dock_borders;
				border-#{$_horz_dock_pos}: none;
				border-#{$_horz_corners}-left-radius: $window_radius;
				border-#{$_horz_corners}-right-radius: $window_radius; 
				
				button {
					&, &:backdrop {
						color: $osd_fg_color;
					}
				}
			}
		}
	}
}

@each $_vert_dock_pos, $_vert_corners in (left, right)
																				 (right, left) {
	.#{$_vert_dock_pos} .budgie-panel {
		&, &:backdrop {
			&.dock-mode {
				background-color: $_dock_bg; // similar to tooltip
				color: $osd_fg_color;
				border: 1px solid $_dock_borders;
				border-#{$_vert_dock_pos}: none;
				border-top-#{$_vert_corners}-radius: $window_radius;
				border-bottom-#{$_vert_corners}-radius: $window_radius; 
				
				button {
					&, &:backdrop {
						color: $osd_fg_color;
					}
				}
			}
		}
	}
}

// 10.5x icon task list
box:not(.unpinned):not(.pinned) > revealer > button.flat.launcher {
  &:hover,
  &:checked,
  &.running,
  &:active { box-shadow: none; }
  
  &:hover image {
  	-gtk-icon-effect: highlight;
  	-gtk-icon-shadow: 
  		0 1px 12px rgba(0,0,0,0.05),
      0 -1px rgba(0,0,0,0.05),
      1px 0 rgba(0,0,0,0.1),
      0 1px rgba(0,0,0,0.3),
      -1px 0 rgba(0,0,0,0.1);
  }
}

// raven sidebar
$raven_spacing: $window_radius + 1;

frame.raven-frame > border {
  border-style: none;
}

$raven_borders: ((top, bottom), (bottom, top), (left, right), (right, left));

@each $pos, $b_pos in $raven_borders {
  // Raven borders
  .#{$pos} frame.raven-frame > border {
    margin-#{$b_pos}: 32px;
		box-shadow: 0 3px 9px 1px transparentize(black, 0.5), 0 0 0 1px $budgie_borders;
  }
}

.raven {
	background-color: $bg_color;
	color: $fg_color;
	padding: 0;
	border: none;

	.raven-header {
		&.top {
			@extend %titlebar; // use styling same as header bar
		}
		
		&.bottom {
			box-shadow: none;
		}
	}
	
	// Notifications view
	box.vertical > stack > box.vertical {
		> .raven-header {
			background-color: $base_color;
			border-bottom: 1px solid $borders_color;
			margin-top: -($raven_spacing - 3);
		}
		
		> .raven-background > viewport.frame { 
			padding: 0;
			margin: 0;
			list { padding: 4px 0; background-color: transparent; }
			
			> list > row.activatable {
				padding: 0;
				
				&:hover, &:active, &:selected {
					background: none;
					box-shadow: none;
					
					list > row.activatable {
						&:hover, &:active, &:selected {
							background: none;
							box-shadow: none;
						}
					}
				}
			}
			&:dir(ltr) { 
				margin-left: $raven_spacing - 5;
				margin-right: $raven_spacing;
			}
			&:dir(rtl) { 
				margin-left: $raven_spacing - 5;
				margin-right: $raven_spacing;
			}
		}
	}
	
	&-notifications-view {
		.raven-notifications-group {
			border: 1px solid $borders_color;
			background-color: $base_color;
			border-radius: $window_radius;
			padding: ($raven_spacing + 4) $raven_spacing 0;
			box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
			
			button.flat { padding: 0; }
			
			.notification-clone {
				border-top: 1px solid transparentize(black, 0.9);
				padding: $raven_spacing;
				margin: 0 -11px;
				
				&:first-child { padding: $raven_spacing $raven_spacing 0; }
				
				box.horizontal {
					label { font-weight: bold; }
				}
				
				button.flat { 
					border-radius: 99px; 
					padding: 0;
				}
				
				&:dir(ltr) { padding-left: $raven_spacing + 4; }
				&:dir(rtl) { padding-right: $raven_spacing + 4; }
			}
		}
	}
	
	// Applets View
	
	
	scrolledwindow {
		//border-bottom: 1px solid $budgie_borders;

		> .frame {
			padding: 0 $raven_spacing;
		
			> box.vertical {
				margin-bottom: 10px;
				> box.vertical {
					margin: 0;
					margin-top: $raven_spacing;
					background-color: $base_color;
					border-radius: $window_radius;
					box-shadow: inset 0 0 0 1px $budgie_borders, 
											0 1px 1px 0 rgba(0,0,0,0.1);
				}
			}
		
			.raven-header {
				margin-top: -($raven_spacing - 1);
				border-top-left-radius: $window_radius;
				border-top-right-radius: $window_radius;
			}
		
			.raven-background {
				margin-bottom: -($raven_spacing - 1);
				border-bottom-left-radius: $window_radius;
				border-bottom-right-radius: $window_radius;
			
				//border-top: 1px solid $borders_color;
			}
		
			box.audio-widget {
				padding: 0 1px;
				list {
					&.sound-devices row.activatable {
						> box > label {
							&:dir(ltr) { margin-left: $_switch_margin; }
							&:dir(rtl) { margin-right: $_switch_margin; }
						}
					}
				}
				stackswitcher.linked {
					border: 0;
					> button.text-button.radio {
						&:dir(ltr),
						&:dir(rtl) {
							margin-bottom: $_switch_margin;
						}

						&:first-child {
							margin-left: $_switch_margin;
						}

						&:last-child {
							margin-right: $_switch_margin;
						}
					}
				}
			}
		}
	}
	
	// raven calendar applet
	calendar {
		&, &:backdrop {
			background-color: transparent;
			border: 1px solid transparent;
			border-bottom-left-radius: $window_radius;
			border-bottom-right-radius: $window_radius;
			background-clip: content-box;
			
			&:selected {
				@extend %selected_items;

				border-radius: 3px;
			}
			&.header {
				border-radius: 0;
				border-bottom-color: transparentize(black, 0.9);

				&:backdrop { border-bottom-color: transparentize(black, 0.9); }
			}
		}
	}
	
	box.mpris-widget {
		@extend %linked_vertical;
		border-width: 1px 0;
		border-color: $borders_color;
		&:first-child { 
			border-top-left-radius: $window_radius;
  		border-top-right-radius: $window_radius; }
		&:last-child { 
			border-bottom-style: solid;
  		border-bottom-left-radius: $window_radius;
  		border-bottom-right-radius: $window_radius; }
		&:only-child { border-style: solid; border-radius: $window_radius; }
		&.no-album-art widget > image { opacity: 0.5; }
	}
	
	.raven-mpris {
		@extend %osd;
		border: 1px solid $osd_borders_color;
		background-clip: padding-box;
		margin: 6px;
		margin-bottom: 14px;
		border-radius: $button_radius;
		
		button.image-button {
			@extend %osd_button;
		}
	}
	
	// powerstrip
	.powerstrip {
		> box.horizontal { padding-bottom: 12px; }
		button { border-radius: 9999px; }
	}
}

// notification/osds
.budgie-osd-window,
.budgie-switcher-window,
.budgie-notification-window, { background-color: transparent; }

.budgie-notification-window {
	button.flat { border-radius: 99px; }
}

.drop-shadow {
	&, decoration { border-radius: $window_radius; }
	margin: 12px;
	background-color: $bg_color;
	box-shadow: 0 3px 9px 1px transparentize(black, 0.5), 0 0 0 1px $budgie_borders;
}

%budgie_dialog {
	&, decoration { 
		border-radius: 7px;
	}
	
	background-color: $bg_color;
	box-shadow: 0 1px 2px transparentize(black, 0.8), 
							0 0 0 1px transparentize($budgie_borders, 0.1),
							inset 0 1px $borders_edge;
}

%budgie_dialog_button {
	.linked.horizontal > button { // same as GTK 3 message dialog
		padding: 10px 14px;
		border-radius: 0;
    border-left-style: solid;
    border-right-style: none;
    border-bottom-style: none;
    
    &:first-child{
      border-left-style: none;
      border-bottom-left-radius: 7px;
      -gtk-outline-bottom-left-radius: 5px;
    }

    &:last-child {
      border-bottom-right-radius: 7px;
      -gtk-outline-bottom-right-radius: 5px;
    }
  }
}

.budgie-session-dialog, .budgie-polkit-dialog {
	@extend %budgie_dialog;
	border-bottom-left-radius: $window_radius+1;
  border-bottom-right-radius: $window_radius+1;
  
  @extend %budgie_dialog_button;
}

// popovers
window.budgie-popover:not(.csd) {
	&.background {
		background-color: $popover_bg_color;
		border-radius: $menu_radius;
		border: 0px solid if($variant=='light', transparentize(black, 0.5), darken($borders_color, 2%));
		
		box-shadow: 0 1px 2px transparentize(black, 0.7),
								0 0 0 1px if($variant=='light', transparentize(black, 0.77), transparentize($borders_color, 0.1));
	}

	> frame.container {
		&,
		> border {
			border-style: none;
			background-color: transparent;
		}

        margin: -2px;
	}
	
	button.flat {
		min-height: 20px;
  	    padding-left: 5px;
  	    padding-right: 5px;
  	    border-radius: $menu_radius;
  	    outline-offset: -2px;
        transition: none;  	
        
		@extend %undecorated_button;
		
		&:hover { background-color: $popover_hover_color; }

  	    &:selected { @extend %selected_items; }
	}
	
	&.night-light-indicator {
		button:not(spinbutton) {
			@extend %button_basic;
		}
		
		spinbutton {
			@extend spinbutton;
		}
	}
}

%budgie_popover_pad {
     .container { padding: 4px; }
}

.budgie-menu {
    @extend %budgie_popover_pad;

    scrolledwindow,
    list,
    row { // reset styling
        min-width: 0;
        min-height: 0;
        border: none;
        background: none;
        box-shadow: none;
    }
  
    entry { margin-bottom: 3px; }
  
    scrolledwindow {
		border: 1px solid $borders_color;
		background-color: $base_color;
	}
	
	row.activatable { // reset background
        padding: 0;
        background-image: none;
        background-color: $base_color;
        color: $fg_color;

		border-left: 0;
		border-right: 0;
		border-radius: 0;

		&:hover { background-color: if(variant == light, transparentize($fg_color, 0.9), transparentize($fg_color, 0.95)); }

		button.flat {
			&, &:hover, &:active { background: none; }
		}
	}
	
	.categories {
		border: 1px solid $borders_color;
		background-color: $sidebar_bg_color; // use sidebar bg

		&:dir(ltr) {
			border-left: 1px solid $borders_color;
			border-right: 0;
		}
		&:dir(rtl) {
			border-left: 0;
			border-right: 1px solid $borders_color;
		}

		button.flat.radio.category-button {
			border-radius: 0;
			border-left: 0;
			border-right: 0;
			
			&:hover { background-color: if(variant == light, transparentize($fg_color, 0.9), transparentize($fg_color, 0.95)); }
		
			&:checked { 
				&, &:hover { @extend %selected_items; } 
			}
		}
	}
}

// keyboard layout switcher
.top, .bottom {
	widget.keyboard-indicator > widget > box {
		> widget > image {
			&:dir(ltr) { padding: 0 2px 0 4px; }
			&:dir(rtl) { padding: 0 4px 0 2px; }
		}
		
		stack > widget.keyboard-label > label {
			font-size: 90%;
			&:dir(ltr) { padding: 0 4px 0 0px; }
			&:dir(rtl) { padding: 0 0px 0 4px; }
		}
	}
}

// places applet
.places-menu {
    .container { padding: 2px; }
	box.vertical > revealer > list {
		background-color: $base_color;
		&.always-expand { background-color: transparent; }
	}
	
	.alternative-label {
		font-size: 11pt;
		&:dir(ltr) { padding: 2px 0 0 4px; }
        &:dir(rtl) { padding: 2px 4px 0 0; }
	}
	
	list {
		background-color: transparent;
		> row.activatable { 
			background: none; 
			transition: none;
		}
	}
}

// user menu
.user-menu {
    @extend %budgie_popover_pad;
	list,
	row { // reset styling
		border: none;
		background: none;
		box-shadow: none;
	}
	
	row.activatable {
		&:hover, &:selected { background: none; }
	}
}

// night light indicator
.night-light-indicator {
    @extend %budgie_popover_pad;
	.view-header {
		padding-top: 2px;
		&:dir(ltr) { padding-right: 4px; }
		&:dir(rtl) { padding-left: 4px; }

		label {
			font-weight: bold;
			&:dir(ltr) { padding-left: 4px; }
			&:dir(rtl) { padding-right: 4px; }
		}
	}
}

stack.icon-popover-stack {
	margin: 6px;
	
	grid.horizontal {
		> button.flat.image-button {
			@include button(normal);
			@extend %button;
			@extend %linked;
		}
	}
}

// alt+tab switcher
.budgie-switcher-window {
	flowboxchild {
		margin: $_switch_margin + 1;
		border-radius: $button_radius;
	}
}

// run dialog
.background.csd.budgie-run-dialog {
  @extend %budgie_dialog;

  background-color: $bg_color;

  entry {
  	&, &.search {
  		@include button(undecorated);
			padding: 6px 12px;
		}
	}

	scrolledwindow {
		background-color: $base_color;
		border: 1px solid $borders_color;
		border-radius: 0;

		margin: 0 5px 5px;
		
		&, &:backdrop { 
			list {
				row.activatable .dim-label { opacity: 1.0; }
			}
		}
	}
}

// workspace switcher applet
widget > box.workspace-switcher {
	> box.workspace-layout {
		border: none;
	}

	widget.workspace-item {
		label.workspace-more-label { &, &:backdrop { color: $_budgie_panel_fg; } }
	
		background-clip: padding-box;
    border-width: 2px 1px;
    border-style: solid;
    border-color: transparent;
    box-shadow: inset 0 0 0 1px transparentize($_budgie_panel_fg, 0.77);
  }

	widget.workspace-item {
		background-color: transparent;
    &.current-workspace {
			background-color: transparentize(white, 0.8);
			box-shadow: inset 0 0 0 1px transparentize($_budgie_panel_fg, 0.6);
		}

		label.workspace-more-label {
			color: $fg_color;
		}
	}
}
