// Additional tweaks
// Instead modifying _common.scss, let some tweaks available here

/**** Reduce PlacesSidebar height ****/
placessidebar row {
	min-height: 34px;
}

/**** Make titlebar height more 'compact' ****/
.titlebar.default-decoration {
  min-height: 24px;

  button.titlebutton {
  	min-height: 22px;
  	min-width: 22px;
  }
}

/**** Fix slimmed circular buttons ****/
* { & button.circular { min-width: 0; } }

/**** Fix for apps that uses HdyViewSwitcher in headerbar ****/
headerbar {
	hdyviewswitcher {
		button.radio {
			box {
				&.horizontal.wide {
					margin: -6px 0;
				}
				
				&.vertical.narrow {
					margin: -3px 0;
				}
			}
		}
		
		label { margin: -2px 0; }
	}
}

/**** Context menu tweaks ****/
// Derived from yaru-theme
decoration {
	$_wm_border: if($variant == 'light', transparentize(black, 0.77), transparentize($borders_color, 0.1));

	.csd.popup & {
		border-radius: $menu_radius;
		box-shadow: 0 1px 2px 1px transparentize(black, 0.7),
					0 0 0 1px $_wm_border;
	}
}

/**** dialog action box (non-CSD) margin tweaks ****/
dialog:not(messagedialog) {
	buttonbox, .dialog-action-area { margin: 8px; }
}

/**** Notebooks/Tabs tweaks ****/
notebook > header tab {
    min-width: $_entry_height;
    min-height: $_entry_height;
    padding: 1px 10px;

    button.flat {
        min-width: 18px;
        min-height: 18px;
    }
}

/**** scale/progressbar tweaks ****/
// increase contrast on CSD/header bars
headerbar {
  scale {
    fill, trough {
      border-color: if($variant == 'light', 
                    darken($borders_color, 8%), 
                    darken($borders_color, 4%));
      background-color: if($variant == 'light', 
                        darken($dark_fill, 8%), 
                        darken($dark_fill, 4%));
    }
  }
}

scale slider:not(.osd) {
  background-clip: padding-box;
  &, &:hover {
    border-color: if($variant == 'light', 
                  transparentize(black, 0.7),
                  transparentize($alt_borders_color, 0.1));
  }

  &:active { border-color: $progress_border_color; }

  &:backdrop { 
    border-color: if($variant == 'light', 
                  transparentize(black, 0.77),
                  transparentize($alt_borders_color, 0.5));  
  }
}

/**** window button tweaks ****/
$_titlebutton_hvr_color: if($variant == 'light', darken($headerbar_color,26%), darken($headerbar_color,11%));
$_titlebutton_prs_color: if($variant == 'light', darken($headerbar_color,30%), darken($headerbar_color,15%));

button.titlebutton {
  &:not(appmenu) {
    background-image: none;
    border-color: transparent;
    box-shadow: none;
    
    &:hover { background-color: $_titlebutton_hvr_color; }
    &:active, &:checked { background-color: $_titlebutton_prs_color; }

    &:backdrop {
      &, &:hover, &:active, &:checked { background: none; }
    }
  }
}
